@model IPTMAdminPortal.Models.Insurer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Insurer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurerPackageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurerPackageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisbursementDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisbursementDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InsurerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
