@model IPTMPortal.Models.TreatmentPlan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TreatmentPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AilmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AilmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialistName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentCommencementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentCommencementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentEndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlanId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
